body {
    background-color: white;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: lightblue;
    padding: 10px;
}

h1 {
    color: blue;
    margin: 0;
}

.purple-text {
   font-family: sans-serif;
    color: purple;
    padding: 10px 10px 0 10px;
}

.yellow-container {
    background-color: yellow;
    padding: 10px;
    margin-top: 10px;
}

.yellow-text {
    color: red;
    margin: 0;
}

.green-container {
    background-color: lightgreen;
    padding: 10px;
    margin-top: 10px;
}

.green-text {
    font-family: sans-serif;
    color: green;
    margin: 0;

}